lucabergman.com {
  redir lucabergman.nl
}

cv.localhost {
  log {
    output file /var/log/cv_access.log {
      roll_size 10MiB
    }
  }
  reverse_proxy cv
}

sjuben.localhost {
  log {
    output file /var/log/sjuben_access.log {
      roll_size 10MiB
    }
  }
  reverse_proxy sjuben
}

hboi.localhost {
  log {
    output file /var/log/cv_access.log {
      roll_size 10MiB
    }
  }
  reverse_proxy bhoi-domeinbeschrijving
}
